{% extends "layout.html" %}
      
{% block title %}
    Bookings
{% endblock %}

{% block main %}
    <p class="h1 text-center mb-3">Bookings</p>

    {% if bookings %}
    <div class="container d-flex justify-content-start gap-5">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Space</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.space_name }}</td>
                    <td>{{ booking.start_time }}</td>
                    <td>{{ booking.end_time }}</td>
                    <td>$ {{ booking.total_cost }}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
    </div>
    {% endif %}

{% endblock %}