{% extends "layout.html" %}

{% block title %}
    Credits
{% endblock %}

{% block main %}
    <ul>
        <li>
            <a href="https://unsplash.com/photos/black-pa-speakers-inside-room-SP9HcRASMPE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Photo</a> 
            by <a href="https://unsplash.com/@litangen">Thomas Litangen</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        <li>
            <a href="https://unsplash.com/photos/music-room-with-lights-turned-on-gUK3lA3K7Yo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Photo</a> 
            by <a href="https://unsplash.com/@john_matychuk">John Matychuk</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        <li>
            <a href="https://unsplash.com/photos/several-guitars-beside-of-side-table-MEL-jJnm7RQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Photo</a>
            by <a href="https://unsplash.com/@sickhews">Wes Hicks</a> on <a href="https://unsplash.com/">Unsplash</a>   
        </li>
        <li>
            <a href="https://unsplash.com/photos/a-room-with-a-lot-of-electronic-equipment-in-it-FLfSJ8kN-fI">Photo</a>
            by <a href="https://unsplash.com/@mesutcicen">Mesut çiçen</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        <li>
            <a href="https://plus.unsplash.com/premium_photo-1661679584923-e6f62b0a9834?q=80&w=2091&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">Photo</a>
            by <a href="https://unsplash.com/@gettyimages">Getty Images</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        <li>
            <a href="https://images.unsplash.com/photo-1558584673-c834fb1cc3ca?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">Photo</a>
            by <a href="https://unsplash.com/@victrola">Victrola Record Players</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        <li>
            <a href="https://plus.unsplash.com/premium_photo-1683134695147-fba97d0aed0d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">Photo</a>
            by <a href="https://unsplash.com/@gettyimages">Getty Images</a> on <a href="https://unsplash.com/">Unsplash</a>
        </li>
        
        
    </ul>
    
{% endblock %}
