{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Set your Password" type="password" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm your password" type="password" required>
        </div>
        <div class="mb-3 text-center w-auto">
            <button class="btn btn-danger" type="submit">Register</button>
        </div>
    </form>

    <form action="/login" method="post">
        <input type="hidden" name="guest" value="guest">
        <div class="text-center">
            <button type="submit" class="btn btn-link">Continue as guest</button>
        </div>
    </form>
{% endblock %}
